.card-button {
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.03);
    color: #FFF;
    border: none;
    cursor: pointer;
    display: block;
    width: 100%;
    margin-right: 10px;
    
}

.card-button:hover {
    background: rgba(255, 255, 255, 0.1);
}