.tag-input-wrapper {
  width: 100%;
  position: relative;
}

.tag-input-box {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  border-radius: 12px;
  min-height: 40px;
  cursor: text;
}

.tag-chip {
    display: flex;
    align-items: center;
    gap: 4px;
    background: #0c0c0c;
    padding: 4px 8px;
    border-radius: 12px;
    font-size: 14px;
}

.invalid {
    border: 1px solid red !important;
    background: rgb(113, 13, 13) !important;
}

.tag-remove {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
}

.tag-input-field {
    flex: 1;
    border: none;
    outline: none;
    font-size: 14px;
    padding: 4px;
    background-color: #181818;
    min-width: 100px;
}

.tag-suggestions {
    position: absolute;
    border: 1px solid #181818;
    margin-top: 4px;
    border-radius: 12px;
    background: #181818;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 200px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.tag-suggestion {
  padding: 8px;
  cursor: pointer;
}

.tag-suggestion:hover {
  background: #202020;
}

.tag-input-field:hover {
    background-color: #202020;
}