.app {
  display: grid;
  grid-template-columns: 28% 72%;
  padding: 30px;
  height: 100vh;
  overflow: hidden;
}

.input {
    border: 1px solid #202020;
    background-color: #181818;
    max-width: 100%;
    padding: 10px 10px;
    font-size: 16px;
}

.input:hover {
    border: 1px solid #202020;
    background-color: #202020;
    
}
